.movie-card {
    position: relative;
    width: 300px;
    margin: 10px; 
    border-radius: 15px;
    overflow: hidden; 
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s; 
}

.movie-card:hover .movie-poster {
    transform: scale(1.05); 
}

.movie-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 15px;
    opacity: 0;
    transition: opacity 0.3s;
}

.movie-card:hover .movie-info {
    opacity: 1; 
}
